.dashboard {
    background: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    padding-top: 80px;
}

.faturamentoDiario {
    display: flex;
    width: 480px;
    height: 60px;
    padding: 12px;
    justify-content: left;
    align-items: center;
    flex-shrink: 0;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    margin-right: 220px;
}

.info-clientes {
    display: flex;
    flex-direction: column;
}

.titulo {
    font-size: 14px;
    color: #B0B0B0;
    margin: 0;
    display: flex;
    align-items: center;
}

.tituloRedesSociais {
    font-size: 14px;
    color: #500124;
    margin: 0;
}

.subtituloRedesSociais {
    font-size: 12px;
    color: #B0B0B0;
    margin: 0;
}

.dados {
    display: flex;
    align-items: center;
    gap: 8px;
}

.numero {
    font-size: 24px;
    font-weight: bold;
    color: #3D004D;
}

.percentual {
    font-size: 16px;
    color: #E91E63;
}

.icone {
    margin-left: 270px;
    margin-top: 10px;
    align-items: center;
}

.caixaRedesSociais {
    width: 4px;
    height: 200px;
    background: #FFFFFF;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
    border-radius: 19.3798px;
    margin-top: 20px;
    justify-content: space-around;
    padding: 20px;
}

.iconepizza {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 170px;
    width: 70px;
    /* Definindo um tamanho específico para o gráfico de pizza */
    height: 70px;
}

.iconepizza img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    /* Preserva a proporção da imagem */
}

.iconeredes {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconeredes img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.marketingDashboard {
    display: flex;
    gap: 1px;
    justify-content: space-between;
}

.coluna {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.faturamentoDiario{
    width: 48%;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
}

.caixaRedesSociais{
    width: 40%;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
}

.caixaUsuariosAtivos {
    width: 40%;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
}

.graficoatividade {
    width: 100%;
    max-width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.graficoatividade img {
    padding: 10px;
    margin-left: -25px;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.linhaPercentual {
    display: flex;
    align-items: center;
    gap: 5px;
    /* Espaço entre o "+23%" e o texto */
}

.container {
    display: flex;
    justify-content: center;
    /* Centraliza as imagens */
    align-items: center;
    gap: 15px;
    padding: 10px 0;
    /* Espaço superior e inferior */
    margin-top: -20px;
}

.containernumeros {
    display: flex;
    justify-content: center;
    /* Centraliza as imagens */
    align-items: center;
    gap: 45px;
    margin-top: -20px;
}

.containerlinha {
    display: flex;
    justify-content: center;
    /* Centraliza as imagens */
    align-items: center;
    gap: 45px;
    width: auto;
    height: auto;
    
}

.box-image2 {
    flex: 1 1 60px;
    flex-grow: 1;
    /* Permite que a imagem cresça para ocupar o espaço restante */
    object-fit: contain;
    margin: 0 10px;
}

.box-image {
    width: 10vh;
    height: 100%;
    
}